
body {background-color: #EFDAC1;
 color: black;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style:none;
}
.titre{
    font-weight: bold;
    font-size: 15px;
}

aside{
    background-color: #C1AF99;
    margin: 0 auto;
 	width: 680px;
    height: auto;
    border-radius: 17px;
    border-color: #7D7469;
    box-shadow: 7px 5px 5px #43392D;
}

#formations{
    background-color: #C1AF99;
    border-radius: 17px;
    border-color: #7D7469;
    box-shadow: 7px 5px 5px #43392D;
}
#experiences{
    background-color: #C1AF99;
    border-radius: 17px;
    border-color: #7D7469;
    box-shadow: 7px 5px 5px #43392D;
}
#competences{
    background-color: #C1AF99;
    border-radius: 17px;
    border-color: #7D7469;
    box-shadow: 7px 5px 5px #43392D;
}

img{
    border-radius: 12px;
    padding: 8px;
}
main{
    margin: 0 auto;
 	width: 680px;
    height: auto;
}
p aside{
    font-size: 80px;
}

